<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[face:01]</key>
	<string>emotion_01</string>
	<key>[face:02]</key>
	<string>emotion_02</string>
	<key>[face:03]</key>
	<string>emotion_03</string>
	<key>[face:04]</key>
	<string>emotion_04</string>
	<key>[face:05]</key>
	<string>emotion_05</string>
	<key>[face:06]</key>
	<string>emotion_06</string>
	<key>[face:07]</key>
	<string>emotion_07</string>
	<key>[face:08]</key>
	<string>emotion_08</string>
	<key>[face:09]</key>
	<string>emotion_09</string>
	<key>[face:10]</key>
	<string>emotion_10</string>
	<key>[face:11]</key>
	<string>emotion_11</string>
	<key>[face:12]</key>
	<string>emotion_12</string>
	<key>[face:13]</key>
	<string>emotion_13</string>
	<key>[face:14]</key>
	<string>emotion_14</string>
	<key>[face:15]</key>
	<string>emotion_15</string>
	<key>[face:16]</key>
	<string>emotion_16</string>
	<key>[face:17]</key>
	<string>emotion_17</string>
	<key>[face:18]</key>
	<string>emotion_18</string>
	<key>[face:19]</key>
	<string>emotion_19</string>
	<key>[face:20]</key>
	<string>emotion_20</string>
	<key>[face:21]</key>
	<string>emotion_21</string>
	<key>[face:22]</key>
	<string>emotion_22</string>
	<key>[face:23]</key>
	<string>emotion_23</string>
	<key>[face:24]</key>
	<string>emotion_24</string>
	<key>[face:25]</key>
	<string>emotion_25</string>
	<key>[face:26]</key>
	<string>emotion_26</string>
	<key>[face:27]</key>
	<string>emotion_27</string>
	<key>[face:28]</key>
	<string>emotion_28</string>
	<key>[face:29]</key>
	<string>emotion_29</string>
	<key>[face:30]</key>
	<string>emotion_30</string>
	<key>[face:31]</key>
	<string>emotion_31</string>
	<key>[face:32]</key>
	<string>emotion_32</string>
	<key>[face:33]</key>
	<string>emotion_33</string>
	<key>[face:34]</key>
	<string>emotion_34</string>
	<key>[face:35]</key>
	<string>emotion_35</string>
	<key>[face:36]</key>
	<string>emotion_36</string>
	<key>[face:37]</key>
	<string>emotion_37</string>
	<key>[face:38]</key>
	<string>emotion_38</string>
	<key>[face:39]</key>
	<string>emotion_39</string>
	<key>[face:40]</key>
	<string>emotion_40</string>
	<key>[face:41]</key>
	<string>emotion_41</string>
	<key>[face:42]</key>
	<string>emotion_42</string>
	<key>[face:43]</key>
	<string>emotion_43</string>
	<key>[face:44]</key>
	<string>emotion_44</string>
	<key>[face:45]</key>
	<string>emotion_45</string>
	<key>[face:46]</key>
	<string>emotion_46</string>
	<key>[face:47]</key>
	<string>emotion_47</string>
	<key>[face:48]</key>
	<string>emotion_48</string>
	<key>[face:49]</key>
	<string>emotion_49</string>
	<key>[face:50]</key>
	<string>emotion_50</string>
	<key>[face:51]</key>
	<string>emotion_51</string>
	<key>[face:52]</key>
	<string>emotion_52</string>
	<key>[face:53]</key>
	<string>emotion_53</string>
	<key>[face:54]</key>
	<string>emotion_54</string>
	<key>[face:55]</key>
	<string>emotion_55</string>
	<key>[face:56]</key>
	<string>emotion_56</string>
	<key>[face:57]</key>
	<string>emotion_57</string>
	<key>[face:58]</key>
	<string>emotion_58</string>
	<key>[face:59]</key>
	<string>emotion_59</string>
	<key>[face:60]</key>
	<string>emotion_60</string>
	<key>[face:61]</key>
	<string>emotion_61</string>
	<key>[face:62]</key>
	<string>emotion_62</string>
	<key>[face:63]</key>
	<string>emotion_63</string>
	<key>[face:64]</key>
	<string>emotion_64</string>
	<key>[face:65]</key>
	<string>emotion_65</string>
	<key>[face:66]</key>
	<string>emotion_66</string>
	<key>[face:67]</key>
	<string>emotion_67</string>
	<key>[face:68]</key>
	<string>emotion_68</string>
	<key>[face:69]</key>
	<string>emotion_69</string>
	<key>[face:70]</key>
	<string>emotion_70</string>
	<key>[face:71]</key>
	<string>emotion_71</string>
	<key>[face:72]</key>
	<string>emotion_72</string>
	<key>[face:73]</key>
	<string>emotion_73</string>
	<key>[face:74]</key>
	<string>emotion_74</string>
	<key>[face:75]</key>
	<string>emotion_75</string>
	<key>[face:76]</key>
	<string>emotion_76</string>
	<key>[face:77]</key>
	<string>emotion_77</string>
	<key>[face:78]</key>
	<string>emotion_78</string>
	<key>[face:79]</key>
	<string>emotion_79</string>
	<key>[face:80]</key>
	<string>emotion_80</string>
	<key>[face:81]</key>
	<string>emotion_81</string>
	<key>[face:82]</key>
	<string>emotion_82</string>
	<key>[face:83]</key>
	<string>emotion_83</string>
	<key>[face:84]</key>
	<string>emotion_84</string>
	<key>[face:85]</key>
	<string>emotion_85</string>
	<key>[face:86]</key>
	<string>emotion_86</string>
</dict>
</plist>
